.about .row{
    display: flex;
    flex-wrap: wrap;
    
}
.about .row .image{
    flex: 8;
}
.about .row img{
   max-height: 52rem;
    width: 75%;
    border-radius: 2rem;
}
.about .row .content{
    justify-content: end;
    flex: 4;
}
.about .row .content h3{
    font-family: "Poppins", system-ui;
    font-size: 3rem;
    color: #fff;
}
.about .row .content p{
    font-family: "Poppins", system-ui;
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8rem;
    font-style: italic;

}
.about .row .content .btn{
    background-color: black;
    color: #9797971f;
    transition: 0.4;
}
.about .row .content .btn:hover{
    color: #fff;
}
@media (max-width: 768px){
    .about{ 
        width: 100%;
        height: 100%;
    }
    
.about .row .content h3{
    font-size: 1.5rem;
}
.about .row .content p{
    font-size: 1rem;
} }