.contact .row{
    display: flex;
    background-color: var(--black-color);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row iframe{
    flex: 6;
   
    object-fit: cover;
}
.contact .row form{
    flex: 6;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: 0.2rem solid gray;
    border-radius: 1rem;
}
.contact .row form .inputbox i{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputbox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background-color: transparent;
}
.contact .row form .btn{
    color: gray;
    background-color: var(--black-color);
    font-weight: bold;
    transition: 0.3s;
}
.contact .row form .btn:hover{
    color: #fff;
}
@media (max-width: 768px){
  .contact{ 
     height: 100%;
width: 100%;
}
}