*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

:root{
    --main-color:hsl(30, 55%, 57%);
    --black-color:#0e0e0e;
    --border: 0.1rem solid rgba(225,225,225,0.4);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--black-color);
 

}
html::-webkit-scrollbar{
    
    width: 0.6rem;
    background-color: white;
}
body{
width: 100%;
height: auto;
min-height: 100vh;
background-color:hsla(0, 0%, 22%, 0.479);


}
img,video{
    width: 100%;
}
a, a:active, a:link, a::before, a::after{
    color: black;
    text-decoration: none;

}
section{
  
    padding: 4% 10%;
   
      
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    font-family: "Poppins", system-ui;
  font-weight: 600;
  font-style: italic;
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
}
.heading span{
    color: var(--black-color);
    text-transform: uppercase;
}
