
.menu .box-container{
    display: flex;
    gap: 1.5rem;
    
 
}
.menu .box-container .box{
    padding: 1rem;
background-color:#fff;
border-radius: 3rem;

display: flex;
flex: 3;
flex-direction: column;
align-items: flex-start;

}
.menu .box-container .box img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
  
    margin-bottom: 1rem;
}
.menu .box-container .box .menu-category{
   
 font-size: 1.2rem;
 text-transform: uppercase;
}
.menu .box-container .box h3{
    font-size: 1.6rem;
    padding: 1rem 0;
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: italic;
}
.menu .box-container .box .price{
    font-size: 2.5rem;
    padding: 1rem 0;
}
.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 300;
}
@media (max-width: 768px){
    .menu{
        height: 100%;
        width: 100%;
    }
    
}