.review .box-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
   min-height: 50rem;
}
.review .box-container .box{
    border: 0.2rem solid black;
text-align: center;
padding: 3rem 2rem ;
background-color: #fff;
border-radius: 3rem;
}
.review .box-container .box p{
    flex: 4;
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
    font-style: italic;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: gray;
}
.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: yellow;
}
.review .box-container .box img{
    margin: 1.5rem 0;
    height: 8rem;
    width: auto;
    object-fit: cover;
}
@media (max-width: 768px){
    .review{
        width: 100%;
        height: 100%;
    }
}